/**
 * Primary Colours
 */
$primary-blue: blue;
$smokey-grey: #161B22;
$murky-green: #386641;
$deep-blue: #0D1117;
$white: #FFFFFF;
$faded-grey: #30363D;

/**
 * Skype area variables
 */
$upload-button-color: $primary-blue;
$table-border-color: $murky-green;
