footer {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 5%;
    position: relative;
    left: 0;
    bottom: 0;

    .footer-link-header {
        margin-bottom: 0;
        border-bottom: 1px solid white;
    }

    #footer-header,
    #footer-footer {
        background-color: #161B22;
        text-align: center;
    }

    .footer-links {
        text-align: center;
    }

    .footer-links-item {
        display: block ruby;

        .footer-link-name {
            color: white;
        }
    }

    #footer-links-container {
        display: flex;
        color: grey;

        @media screen and (max-width: 767px) {
            display: block;
        }
    }
}
